<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
<style>
 .top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(./images/heros/hero-image_2.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
</style>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Vinsmoke Resto
            </h1>
        </div>
        <a href="#" id="menu" class="header__menu">☰</a>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#">Vinsmoke</a></li>
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/rian-apriansyah-788aa0194/">About us</a></li>
        </ul>
    </nav>
    <div class="top-wrapper" id="maincontent">
        <div class="container">
            <h1>VINSMOKE RESTAURANT</h1>
            <h1>DATANG LAPAR PULANG KENYANG</h1>
            <p>Vinsmoke adalah Restaurant bertemakan bajak laut</p>
            <p>Kami menawarkan makanan yang lezat dan nikmat.</p>
            <div class="btn-wrapper">
                <button  class="btn signup">Masuk dengan Email</button>
                <p>atau</p>
                <button class="btn facebook"><span class="fa fa-facebook"></span>Masuk dengan Facebook</button>
                <button  class="btn twitter"><span class="fa fa-twitter"></span>Masuk dengan Twitter</button>
            </div>
        </div>
    </div>
    <div class="lesson-wrapper">
        <div class="container">
            <div class="heading">
                <h2>Favorite!</h2>
            </div>
            <div class="flex-container">
                <div class="alone">
                    <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="">
                    <h2>Bring Your Phone Cafe</h2>
                    <br>
                    <h3> Medan</h3>
                    <br>
                    <h4>Rating : 4.6</h4>
                    <br>
                   <p>description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis eaque accusantium repellat alias officia expedita, facere sed cupiditate reprehenderit a vero quo error ea rerum. Magni nisi rerum necessitatibus numquam!</p> 
                </div>
                <div class="alone">
                    <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="">
                    <h2>Run The Gun</h2>
                    <br>
                    <h3> Bali</h3>
                    <br>
                    <h4>Rating : 4.6</h4>
                    <br>
                    <p>description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis eaque accusantium repellat alias
                        officia expedita, facere sed cupiditate reprehenderit a vero quo error ea rerum. Magni nisi rerum necessitatibus
                        numquam!</p>
                </div>
                <div class="alone">
                    <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="" >
                    <h2>Pangsit Express</h2>
                    <br>
                    <h3> Ternate</h3>
                    <br>
                    <h4>Rating : 4.6</h4>
                    <br>
                    <p>description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis eaque accusantium repellat alias
                        officia expedita, facere sed cupiditate reprehenderit a vero quo error ea rerum. Magni nisi rerum necessitatibus
                        numquam!</p>
                </div>
                <div class="alone">
                    <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="">
                    <h2>Ducky Duck</h2>
                    <br>
                    <h3> Malang</h3>
                    <br>
                    <h4>Rating : 4.8</h4>
                    <br>
                    <p>description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis eaque accusantium repellat alias
                        officia expedita, facere sed cupiditate reprehenderit a vero quo error ea rerum. Magni nisi rerum necessitatibus
                        numquam!</p>
                </div>
                <div class="alone">
                    <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40" alt="">
                    <h2>Kafein</h2>
                    <br>
                    <h3> Bali</h3>
                    <br>
                    <h4>Rating : 3.8</h4>
                    <br>
                    <p>description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis eaque accusantium repellat alias
                        officia expedita, facere sed cupiditate reprehenderit a vero quo error ea rerum. Magni nisi rerum necessitatibus
                        numquam!</p>
                </div>
            </div>

            <div class="clear"></div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="container">
            <p>Copyright © 2020 - Vinsmoke Apps”.</p>
        </div>
    </footer>
</body>
</html>
